.App {
  width: 100%;
  min-height: 100vh;
  padding: 0 1rem;
  display: grid;
  grid: 1fr;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
  background-color: #fefae0;
  color: #343a40;
}

.App h1 {
  font-size: 3rem;
  margin: 2rem 0;
  font-weight: 500;
}

@media only screen and (max-height: 600px) {
  .App h1 {
    margin: 1rem 0
  }
}